/* 
====custom
 */
.attribute {
    margin-top: 5px;
}
#size,#sku{
    max-width:27%;
}
#price,#stock{
    max-width:18%;
}
@media only screen and (max-width: 550px) {
   #size,#sku{
       max-width:100%;
   }
   #price,#stock{
       max-width:70%;
   }
  }